.vscode/**
.vscode-test/**
.devcontainer/**
src/**
out/**
node_modules/**
.gitignore
.gitattributes
.editorconfig
.prettierrc.json
.prettierignore
.vscodeignore
.nvmrc
tsconfig.json
esbuild.mjs
eslint.config.mjs
**/*.map
**/*.ts
.github/**
CHANGELOG.md.template
